/* You can add global styles to this file, and also import other style files */
:root {
    --main-color : #FE0065;
    --secondary-color : #98CB98;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}